body {
  padding-top: 24px;
  padding-bottom: 32px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #545456;
}

/* routes table */
#league-routes {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

.league {
  position: absolute;
  left: 0;
  right: 0;
}

th {
  background-color: #d83733;
}

th, tr {
  padding: 3px;
  background-color: #ddd;
}

.form {
  background-color: #ddd;
}

/* labels on form */
.input-labels {
  margin: .5%;
}

/* fields on form */
.input-fields {
  width: 10%;
  border-radius: 2px;
  margin: 10px;
}

.buttons {
  text-align: center;
}

.greenButtons {
  display: inline-block;
  font-size: 16px;
  padding: 10px 24px;
  cursor: pointer;
  margin: 8px;
  background-color: green;
  color: #ddd;
  border: none;
  border-radius: 8px;
}

.redButtons {
  display: inline-block;
  font-size: 16px;
  padding: 10px 24px;
  cursor: pointer;
  margin: 8px;
  background-color: #d83733;
  color: #ddd;
  border: none;
  border-radius: 8px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  width: 100%;
  background-color: #d83733;
  color: #ddd;
  font-size: 24px;
  text-align: center;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #d83733;
  color: #ddd;
  font-size: 24px;
  text-align: left;
}